@model List<Company>

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary">Company List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="container">
			<div class="row pt-2 pb-3">
				<div class="col-12 text-end">
					<a asp-controller="Company" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New Company</a>
				</div>
			</div>


			<table id="tblDataCompany" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Company Name</th>
						<th>Phone Number</th>
						<th>Address</th>
						<th>State</th>
						<th>City</th>
						@* <th>Postal Code</th> *@
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/Company.js"></script>
}